*{
    margin:0;
    padding:0;

}
 nav a:active,nav a:hover, nav a:link, nav a:visited, nav a{
    color: white;
    text-decoration: none;
}
h1{
    font-weight: 600;
    background-color: #58AAAA;
    color:white;
    padding: 5px;
    text-align: center;
    padding: 15px;
}
nav{
    padding-top: 150px;
    width:20%;
    height:100vh;
    background-color: #758EFF;
    display: inline-block;
    float:left;
}
nav ul li:active{
    background-color: #75AAFF;
    color:white;
}
nav ul li{
    list-style-type: none;
    text-decoration: none;
    padding: 25px;
    background-color: #586BBF;
    margin-bottom:20px;
    text-align: center;
    color:white;
}
article{
    width: 80%;
    height: 80vh;
    display: inline-block;
    float:left;
    text-align: center;
}
article ul li a{
    color: black;
}
article div{
    width: 20%;
    height: 20vh;
    display: inline-block;
    margin:18px;
}
img{
    width:100%;
}
footer{
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 25px;
    width:100%;
    text-align: center;
    padding:10px;
    font-weight: 600;
    background-color: #1D2440;
}
